/* Write your code here. */
.nav-bar-container {
  background-color: #9796f0;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}
.logo-section,
.score-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.emoji-logo {
  width: 40px;
  height: 40px;
  align-items: center;
}
.heading {
  color: #fff;
  font-size: 20px;
}
.score {
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 16px;
}
