/* Write your CSS here */
.app-container {
  display: flex;
  padding: 40px;
}
.container {
  width: 90vw;
}

.header-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/money-manager/money-manager-bg.png');
  background-size: cover;
  padding: 40px;
  width: 100%;
  color: #475569;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
}
.span-text {
  color: #0b69ff;
  font-weight: bold;
}
.add-appointment-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
}
.add-appointment-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
}

.add-appointment-heading {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 22px;
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .add-appointment-heading {
    font-size: 32px;
    margin-bottom: 48px;
  }
}

.transaction-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  height: 424px;
  width: 100%;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  padding-top: 24px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .transaction-form {
    width: 40%;
    padding-right: 43px;
    padding-left: 48px;
  }
}

.transaction-header {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
}

@media screen and (min-width: 768px) {
  .transaction-header {
    font-size: 20px;
  }
}

.input-label {
  color: #7e858e;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
  margin-bottom: 0px;
}

.input {
  color: #1e293b;
  background-color: #ffffff;
  font-family: 'Roboto';
  border: 1px solid #d7dfe9;
  border-radius: 2px;
  width: 100%;
  height: 40px;
  outline: none;
  padding: 10px;
  margin-bottom: 10px;
  min-width: 157px;
}

.button {
  background-color: #0b69ff;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 600;
  min-width: 25px;
  border-radius: 6px;
  border: none;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  outline: none;
  cursor: pointer;
  margin-bottom: 10px;
}

.history-transactions {
  width: 100%;
  min-height: 326px;
  border: 1px solid #cbd5e1;
  border-radius: 12px;
  padding-left: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 24px;
  margin-top: 32px;
}

@media screen and (min-width: 768px) {
  .history-transactions {
    width: 55%;
    min-height: 424px;
    padding-top: 24px;
    padding-left: 28px;
    padding-right: 41px;
    padding-bottom: 40px;
    margin-top: 0px;
    margin-left: 32px;
  }
}

.transactions-table-container {
  height: 100%;
  border-radius: 8px;
}

.transactions-table {
  padding-left: 0;
  margin: 0px;
}

.table-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 48px;
  list-style-type: none;
  border: 1px solid #cbd5e1;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (min-width: 768px) {
  .table-header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

.table-header-cell {
  color: #334155;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  width: 30%;
  border-right: none;
}

@media screen and (min-width: 768px) {
  .table-header-cell {
    font-size: 16px;
  }
}
